#!/usr/bin/env python
PACKAGE = "franka_example_controllers"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("desired_mass", double_t, 0, "desired mass for rendered force due to gravity applied in the z axis", 0.0,  0.0, 2.0)
gen.add("k_p", double_t, 0, "force P gain", 0.0,  0.0, 2.0)
gen.add("k_i", double_t, 0, "force I gain", 0.0,  0.0, 2.0)
gen.add("q_lower", bool_t, 0, "Q motors", False)
gen.add("q_upper", bool_t, 0, "Q lower motors", False)
gen.add("f_c_lower", double_t, 0, "Q Cutoff frequency (lower motors)", 0.0, 0.0, 10)
gen.add("f_c_upper", double_t, 0, "Q Cutoff frequency (upper motors)", 0.0, 0.0, 30)
gen.add("f_z", double_t, 0, "Q Cutoff frequency (upper motors)", 0, 0, 30)

gen.add("joint_zero_torque", bool_t, 0, "Tranasparency mode", False)

exit(gen.generate(PACKAGE, "dynamic_mass", "desired_mass_param"))
