#!/usr/bin/env python
PACKAGE = "franka_example_controllers"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("desired_mass", double_t, 0, "desired mass for rendered force due to gravity applied in the z axis", 0.0,  0.0, 2.0)
gen.add("k_p", double_t, 0, "force P gain", 0.0,  0.0, 2.0)
gen.add("k_i", double_t, 0, "force I gain", 0.0,  0.0, 2.0)
gen.add("q_0", double_t, 0, "Q(0)", 0.0, 0.0, 1.0)
gen.add("q_1", double_t, 0, "Q(1)", 0.0, 0.0, 1.0)
gen.add("q_2", double_t, 0, "Q(2)", 0.0, 0.0, 1.0)
gen.add("q_3", double_t, 0, "Q(3)", 0.0, 0.0, 1.0)
gen.add("q_4", double_t, 0, "Q(4)", 0.0, 0.0, 1.0)
gen.add("q_5", double_t, 0, "Q(5)", 0.0, 0.0, 1.0)
gen.add("q_6", double_t, 0, "Q(6)", 0.0, 0.0, 1.0)
gen.add("f_c", double_t, 0, "Q Cutoff frequency", 0.0, 0.0, 10)

exit(gen.generate(PACKAGE, "dynamic_mass", "desired_mass_param"))
