#!/usr/bin/env python
PACKAGE = "phri_fob"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Position controller
gen.add("pc_kp", double_t, 0, "position controller P gain", 0,  0.0, 100.0)
gen.add("pc_kd", double_t, 0, "position controller D gain", 0,  0.0, 100.0)
gen.add("pc_ki", double_t, 0, "position controller I gain", 0,  0.0, 100.0)
gen.add("ref_A", double_t, 0, "Amplitude of the periodic signal to track", 0.2, 0, 3.14)
gen.add("ref_freq", double_t, 0, "Frequency of the periodic signal to track", 0.2, 0, 5.0)

# Force controller
gen.add("fc_kp", double_t, 0, "force P gain", 2,  0.0, 2.0)
gen.add("fc_ki", double_t, 0, "force I gain", 0,  0.0, 2.0)
gen.add("fc_fz", double_t, 0, "Desired force on the cartesian -Z axis", 0, -30.0, 30.0)

gen.add("fc_freq", double_t, 0, "Frequency of the periodic force trajectory to track", 0.2, 0, 5.0)
gen.add("fc_sinusoidal", bool_t, 0, "Sinusoidal force profile", False)


# Controller selector
mode_enum = gen.enum([
    gen.const("FORCE_CONTROL",    int_t, 0, "Force control"),
    gen.const("TRAJECTORY_TRACKING", int_t, 1, "Trajectory tracking"),
], "Operating mode") 

gen.add("mode", int_t, 0, "Operating mode of the controller", 0, 0, 1, edit_method=mode_enum)

# Flags for the activation of the FOB 
gen.add("FOB_lower", bool_t, 0, "Activate FOB, upper motors", True)
gen.add("FOB_upper", bool_t, 0, "Activate FOB, lower motors", True)

# FOB cutoff frequency for lower and upper motors
gen.add("q_lower", double_t, 0, "Q Cutoff frequency, lower motors", 1.0, 0.0, 10)
gen.add("q_upper", double_t, 0, "Q Cutoff frequency, upper motors", 2.0, 0.0, 30)

# FOB friction shaper for lower and upper motors
gen.add("fr_lower", double_t, 0, "Friction shaper, lower motors", 0.0, 0.0, 2)
gen.add("fr_upper", double_t, 0, "Friction shaper, upper motors", 0.0, 0.0, 2)

# Motors model
gen.add("motor_inertia", double_t, 0, "Motor inertia", 0.075, 0.001, 1)
gen.add("lower_motors_multiplier", double_t, 0, "Motors inertia multiplier, lower motors", 20, 0, 100)
gen.add("upper_motors_multiplier", double_t, 0, "Motors inertia multiplier, upper motors", 3, 0, 10)

# Utility
gen.add("reset_and_restart_btn", bool_t, 0, "Restart and set the inital pose/torque the current robot pose/torque", True)

exit(gen.generate(PACKAGE, "phri_fob", "FOB_param"))
